---
---
<footer>
    <p>Copyright &copy; 2023 electrum audio.</p>
</footer>
<style>
    footer {
        min-height: 15vh;
        border-top: 1px solid var(--clay);
        background: var(--dark) center / cover no-repeat url('../assets/soldiers-footer.png');
        display: flex;
        align-items: end;
        filter: drop-shadow(0 0 12px rgba(0,0,0,0.5));
    }
    footer > p {
        font-size: 0.8rem;
        margin: 1rem auto;
        padding: 0;
        color: var(--crimson);
    }
</style>