---
---
<footer>
    <p>Copyright &copy; 2023 electrum audio.</p>
</footer>
<style>
    footer {
        background-color: var(--sand);
        width: 100%;
        padding: 3rem;
        border-top: 2px solid var(--umber);
    }

    footer p {
        font-size: 0.7rem;
        /* color: white; */
    }
</style>