---
import { Image } from 'astro:assets';
const { frontmatter } = Astro.props;
const refs = frontmatter.images.map(i => `../assets/${i[0]}`);
const images = refs.map(r => {
    return import(r);
});
await Promise.all(images);
---
<div class="image-row">
    <div class="carousel">
        {images.map( (img, i) => (
            <Image src={img} alt={refs[i][1]} />
        ))}
    </div>
    <slot />
</div>
<style is:global>
    main > .image-row {
        padding-bottom: 3rem;
        margin-top: 2rem;
    }
    main > .image-row p {
        text-align: center;
        font-size: 2rem;
    }
    .image-row div.carousel {
        justify-content: center;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0 3vw;
        box-sizing: border-box;
        row-gap: 1rem;
    }

    .image-row div.carousel img {
        display: block;
        box-sizing: border-box;
        width: 20%;
        padding: 0;
        margin: 0;
        flex-basis: auto;
        object-fit: contain;
        max-height: 125px;
    }
</style>