---
import { Image } from 'astro:assets';
const { frontmatter } = Astro.props;
---
<div class="text-banner">
    {frontmatter.title &&
        <h2>{frontmatter.title}</h2>
    }
    <slot />
</div>
<style is:global>
    main > .text-banner {
        width: 100%;
        padding: 2rem 15vw;
        margin:  0 0 2rem;
        background: linear-gradient(rgba(0,0,0,0.9), rgba(75,75,75,0.9));
    }

    main > .text-banner h2 {
        font-size: 2rem;
        color: var(--clay);
        margin-bottom: 0.5rem;
    }

    main > .text-banner p {
        font-size: 1.6rem;
        letter-spacing: 1px;
        color: white;
        text-align: center;
    }
</style>