@import url("reset.css");

/* COLOURS */
:root {
    --sand: rgb(231,182,147);
    --sage: rgb(126,139,101);
    --copper: rgb(196,120,43);
    --sky: rgb(122,162,213);
    --crimson: rgb(117,14,10);
    --clay: rgb(235,104,93);
    --umber: rgb(190,17,9);
    --dark: rgb(34,28,24);
}

h1, h2, h3, h4, h5, h6, p {
    font-family: sans-serif;
    color: rgb(40,40,40);
}

html {
    min-height: 100vh;
    min-width: 100vw;
}

body {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-image: linear-gradient(90deg, white, white 66%, antiquewhite);
}

#illustrations {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15vw;
    box-sizing: border-box;
}

#illustrations img {
    display: block;
    box-sizing: border-box;
    width: 20%;
    padding: 0;
    margin: 0;
    flex-basis: auto;
    object-fit: contain;
    max-height: 125px;
}

#illustrations img:nth-last-child(-n+2) {
    width: 50%;
    max-height: 166px;
}

section#tagline {
    width: 100%;
    padding: 2rem 15vw;
    background-color: rgb(75,75,75);
}

section#tagline p {
    font-size: 2rem;
    letter-spacing: 1px;
    color: white;
    text-align: center;
}

main#ad-copy {
    padding: 4rem 20vw 4rem 40vw;
    background: white left top / contain no-repeat url("../assets/soldiers-sidebar.png");
}

main#ad-copy p {
    font-size: 1.3rem;
    line-height: 1.7rem;
    text-align: justify;
    margin: 1.3rem 0 0;
}

main#ad-copy p:first-child::first-letter {
    font-size: 2.6rem;
    margin-right: 1ch;
    float: left;
    padding: 0.8rem 0 0;
}