@import url("reset.css");

h1, h2, h3, h4, h5, h6, p {
    font-family: "Montserrat", sans-serif;
    color: rgb(40,40,40);
}

html {
    min-height: 100vh;
    /* background-color: antiquewhite; */
    /* background-image: linear-gradient( rgb(200,200,210), white); */
}

body {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(90deg, white, white 66%, antiquewhite);
}

nav {
    width: 100%;
    padding: 1rem;
    background-color: rgb(50,50,50);
    box-shadow: 0 20px 20px rgba(50,50,50,0.3);
    position: sticky;
    top: 0;
}

nav p {
    color: white;
}

/* body > header {
    padding: 2rem 2rem 4rem;
    max-width: 1600px;
    margin: 0 auto;
} */

#main-logo {
    display: block;
    max-width: 750px;
    margin: 0 auto;
}

#illustrations {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    /* gap: 1rem; */
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15vw;
    box-sizing: border-box;
}

#illustrations img {
    display: block;
    box-sizing: border-box;
    width: 20%;
    padding: 0;
    margin: 0;
    flex-basis: auto;
    object-fit: contain;
    max-height: 125px;
}

#illustrations img:nth-last-child(-n+2) {
    width: 50%;
    max-height: 166px;
}

section#tagline {
    width: 100%;
    padding: 2rem 15vw;
    background-color: rgb(75,75,75);
}

section#tagline p {
    font-size: 2rem;
    letter-spacing: 1px;
    color: white;
    text-align: center;
}

main#ad-copy {
    padding: 4rem 20vw;
    background-color: white;
}

main#ad-copy p {
    font-size: 1.3rem;
    line-height: 1.7rem;
    text-align: justify;
    margin: 1.3rem 0 0;
}

main#ad-copy p:first-child::first-letter {
    font-size: 2.6rem;
    margin-right: 1ch;
    float: left;
    padding: 0.8rem 0 0;
}

footer {
    background-color: rgb(50,50,50);
    width: 100%;
    padding: 3rem;
}

footer p {
    font-size: 0.7rem;
    color: white;
}