@import url("reset.css");

/* COLOURS */
:root {
    --sand: rgb(231,182,147);
    --sage: rgb(126,139,101);
    --copper: rgb(196,120,43);
    --sky: rgb(122,162,213);
    --crimson: rgb(117,14,10);
    --clay: rgb(235,104,93);
    --umber: rgb(190,17,9);
    --dark: rgb(34,28,24);
}

h1, h2, h3, h4, h5, h6, p, li {
    font-family: sans-serif;
    color: var(--dark);
}

html {
    min-height: 100vh;
    min-width: 100vw;
    background-color: black;
}

body {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-image: linear-gradient(90deg, white, white 66%, antiquewhite);
}

main#primary-content {
    background: white left top / 12vw repeat-y url("../assets/soldiers-sidebar.png");
    padding-left: 12vw;
}